In [2]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [4]:
# Latihan
employee_data_single = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data_single)

# Read
for emp in collection.find():
    print(emp)
    
# Create
employee_data_single = {
    'name': 'Bob',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data_single)

# Update
collection.update_one({'name': 'Alice'}, {'$set': {'salary': 5500}})

# Read
for emp in collection.find():
    print(emp)

# Delete
collection.delete_one({'name': 'Bob'})
print("Bob was deleted")

# Read
for emp in collection.find():
    print(emp)

{'_id': ObjectId('6905654ac13069a3c2dc56dd'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6905654ac13069a3c2dc56dd'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 5500}
{'_id': ObjectId('6905654ac13069a3c2dc56de'), 'name': 'Bob', 'department': 'Finance', 'age': 29, 'salary': 4500}
Bob was deleted
{'_id': ObjectId('6905654ac13069a3c2dc56dd'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 5500}

In [35]:
# Create
employees_data = [
    {'name': 'Bob', 'department': 'IT', 'age': 23, 'salary': 5200},
    {'name': 'Charlie', 'department': 'HR', 'age': 31, 'salary': 4800},
    {'name': 'Diana', 'department': 'Marketing', 'age': 28, 'salary': 3000},
    {'name': 'Evan', 'department': 'Finance', 'age': 35, 'salary': 6200},
    {'name': 'Fiona', 'department': 'IT', 'age': 22, 'salary': 5600},
    {'name': 'George', 'department': 'Finance', 'age': 41, 'salary': 6800},
    {'name': 'Hannah', 'department': 'HR', 'age': 27, 'salary': 4500},
    {'name': 'Ian', 'department': 'Marketing', 'age': 23, 'salary': 5100},
    {'name': 'Julia', 'department': 'IT', 'age': 24, 'salary': 4900},
    {'name': 'Kevin', 'department': 'Finance', 'age': 30, 'salary': 6100},
    {'name': 'Laura', 'department': 'Marketing', 'age': 26, 'salary': 3500},
    {'name': 'Mike', 'department': 'IT', 'age': 32, 'salary': 6000},
    {'name': 'Nina', 'department': 'HR', 'age': 34, 'salary': 5200},
    {'name': 'Oscar', 'department': 'Finance', 'age': 37, 'salary': 7000},
    {'name': 'Paula', 'department': 'Marketing', 'age': 20, 'salary': 4000},
    {'name': 'Quinn', 'department': 'IT', 'age': 27, 'salary': 5700},
    {'name': 'Rita', 'department': 'HR', 'age': 24, 'salary': 4800},
    {'name': 'Steve', 'department': 'Finance', 'age': 45, 'salary': 7300},
    {'name': 'Tina', 'department': 'Marketing', 'age': 21, 'salary': 4600},
    {'name': 'Uma', 'department': 'IT', 'age': 29, 'salary': 5900}
]

collection.insert_many(employees_data)

# Read
for emp in collection.find():
    print(emp)

# Update
collection.update_many({'department': 'HR'}, {'$inc': {'salary': 200}})

# Delete
collection.delete_many({'salary': {'$lt': 5000}})

# Read
for emp in collection.find():
    print(emp)

{'_id': ObjectId('69057323c13069a3c2dc577f'), 'name': 'Bob', 'department': 'IT', 'age': 23, 'salary': 5200}
{'_id': ObjectId('69057323c13069a3c2dc5780'), 'name': 'Charlie', 'department': 'HR', 'age': 31, 'salary': 4800}
{'_id': ObjectId('69057323c13069a3c2dc5781'), 'name': 'Diana', 'department': 'Marketing', 'age': 28, 'salary': 3000}
{'_id': ObjectId('69057323c13069a3c2dc5782'), 'name': 'Evan', 'department': 'Finance', 'age': 35, 'salary': 6200}
{'_id': ObjectId('69057323c13069a3c2dc5783'), 'name': 'Fiona', 'department': 'IT', 'age': 22, 'salary': 5600}
{'_id': ObjectId('69057323c13069a3c2dc5784'), 'name': 'George', 'department': 'Finance', 'age': 41, 'salary': 6800}
{'_id': ObjectId('69057323c13069a3c2dc5785'), 'name': 'Hannah', 'department': 'HR', 'age': 27, 'salary': 4500}
{'_id': ObjectId('69057323c13069a3c2dc5786'), 'name': 'Ian', 'department': 'Marketing', 'age': 23, 'salary': 5100}
{'_id': ObjectId('69057323c13069a3c2dc5787'), 'name': 'Julia', 'department': 'IT', 'age': 24, 'salary': 4900}
{'_id': ObjectId('69057323c13069a3c2dc5788'), 'name': 'Kevin', 'department': 'Finance', 'age': 30, 'salary': 6100}
{'_id': ObjectId('69057323c13069a3c2dc5789'), 'name': 'Laura', 'department': 'Marketing', 'age': 26, 'salary': 3500}
{'_id': ObjectId('69057323c13069a3c2dc578a'), 'name': 'Mike', 'department': 'IT', 'age': 32, 'salary': 6000}
{'_id': ObjectId('69057323c13069a3c2dc578b'), 'name': 'Nina', 'department': 'HR', 'age': 34, 'salary': 5200}
{'_id': ObjectId('69057323c13069a3c2dc578c'), 'name': 'Oscar', 'department': 'Finance', 'age': 37, 'salary': 7000}
{'_id': ObjectId('69057323c13069a3c2dc578d'), 'name': 'Paula', 'department': 'Marketing', 'age': 20, 'salary': 4000}
{'_id': ObjectId('69057323c13069a3c2dc578e'), 'name': 'Quinn', 'department': 'IT', 'age': 27, 'salary': 5700}
{'_id': ObjectId('69057323c13069a3c2dc578f'), 'name': 'Rita', 'department': 'HR', 'age': 24, 'salary': 4800}
{'_id': ObjectId('69057323c13069a3c2dc5790'), 'name': 'Steve', 'department': 'Finance', 'age': 45, 'salary': 7300}
{'_id': ObjectId('69057323c13069a3c2dc5791'), 'name': 'Tina', 'department': 'Marketing', 'age': 21, 'salary': 4600}
{'_id': ObjectId('69057323c13069a3c2dc5792'), 'name': 'Uma', 'department': 'IT', 'age': 29, 'salary': 5900}
{'_id': ObjectId('69057323c13069a3c2dc577f'), 'name': 'Bob', 'department': 'IT', 'age': 23, 'salary': 5200}
{'_id': ObjectId('69057323c13069a3c2dc5780'), 'name': 'Charlie', 'department': 'HR', 'age': 31, 'salary': 5000}
{'_id': ObjectId('69057323c13069a3c2dc5782'), 'name': 'Evan', 'department': 'Finance', 'age': 35, 'salary': 6200}
{'_id': ObjectId('69057323c13069a3c2dc5783'), 'name': 'Fiona', 'department': 'IT', 'age': 22, 'salary': 5600}
{'_id': ObjectId('69057323c13069a3c2dc5784'), 'name': 'George', 'department': 'Finance', 'age': 41, 'salary': 6800}
{'_id': ObjectId('69057323c13069a3c2dc5786'), 'name': 'Ian', 'department': 'Marketing', 'age': 23, 'salary': 5100}
{'_id': ObjectId('69057323c13069a3c2dc5788'), 'name': 'Kevin', 'department': 'Finance', 'age': 30, 'salary': 6100}
{'_id': ObjectId('69057323c13069a3c2dc578a'), 'name': 'Mike', 'department': 'IT', 'age': 32, 'salary': 6000}
{'_id': ObjectId('69057323c13069a3c2dc578b'), 'name': 'Nina', 'department': 'HR', 'age': 34, 'salary': 5400}
{'_id': ObjectId('69057323c13069a3c2dc578c'), 'name': 'Oscar', 'department': 'Finance', 'age': 37, 'salary': 7000}
{'_id': ObjectId('69057323c13069a3c2dc578e'), 'name': 'Quinn', 'department': 'IT', 'age': 27, 'salary': 5700}
{'_id': ObjectId('69057323c13069a3c2dc578f'), 'name': 'Rita', 'department': 'HR', 'age': 24, 'salary': 5000}
{'_id': ObjectId('69057323c13069a3c2dc5790'), 'name': 'Steve', 'department': 'Finance', 'age': 45, 'salary': 7300}
{'_id': ObjectId('69057323c13069a3c2dc5792'), 'name': 'Uma', 'department': 'IT', 'age': 29, 'salary': 5900}

In [40]:
print(collection.find_one({'name': 'Mike'}))

{'_id': ObjectId('69057323c13069a3c2dc578a'), 'name': 'Mike', 'department': 'IT', 'age': 32, 'salary': 6000}

In [34]:
# Delete all
collection.delete_many({})

DeleteResult({'n': 26, 'ok': 1.0}, acknowledged=True)

In [9]:
# Tugas 3 Menghitung rata-rata gaji per departement
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 6680.0}
{'_id': 'Marketing', 'average_salary': 5100.0}
{'_id': 'IT', 'average_salary': 5680.0}
{'_id': 'HR', 'average_salary': 5133.333333333333}

In [11]:
#Latihan Menghitung total gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'total_salary': {'$sum': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'IT', 'total_salary': 28400}
{'_id': 'Finance', 'total_salary': 33400}
{'_id': 'HR', 'total_salary': 15400}
{'_id': 'Marketing', 'total_salary': 5100}

In [16]:
# Latihan
products = db['products']
products.delete_many({})

data_produk = [
    {"name": "Laptop X1", "category": "Electronics", "price": 15000000},
    {"name": "Smartphone Z", "category": "Electronics", "price": 8000000},
    {"name": "Headphone A", "category": "Electronics", "price": 1200000},
    {"name": "Office Chair", "category": "Furniture", "price": 2500000},
    {"name": "Desk Lamp", "category": "Furniture", "price": 750000},
    {"name": "Water Bottle", "category": "Accessories", "price": 150000},
    {"name": "Backpack", "category": "Accessories", "price": 350000},
    {"name": "Monitor 24\"", "category": "Electronics", "price": 2200000},
    {"name": "Keyboard", "category": "Electronics", "price": 600000},
    {"name": "Mouse", "category": "Electronics", "price": 300000}
]

products.insert_many(data_produk)

# Latihan 4.2: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.

# Hitung rata-rata harga produk
pipeline_avg = [
    {'$group': {'_id': None, 'avg_price': {'$avg': '$price'}}}
]
avg_result = list(products.aggregate(pipeline_avg))[0]
avg_price = avg_result['avg_price']
print(f"Rata-rata harga produk: {avg_price}")

# Cari produk dengan harga di atas rata-rata
above_avg = products.find({'price': {'$gt': avg_price}})

print("\nProduk dengan harga di atas rata-rata:")
for p in above_avg:
    print(f"- {p['name']} ({p['category']}): Rp{p['price']}")

# Latihan 4.3: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.
pipeline_count = [
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}},
    {'$sort': {'total_products': -1}}  # urutkan dari yang terbanyak
]

print("\nTotal produk per kategori:")
for result in products.aggregate(pipeline_count):
    print(f"- {result['_id']}: {result['total_products']} produk")

Rata-rata harga produk: 3105000.0

Produk dengan harga di atas rata-rata:
- Laptop X1 (Electronics): Rp15000000
- Smartphone Z (Electronics): Rp8000000

Total produk per kategori:
- Electronics: 6 produk
- Furniture: 2 produk
- Accessories: 2 produk

In [24]:
# Tugas 4
pipeline = [
    # Urutkan data berdasarkan departemen dan gaji menurun
    {'$sort': {'department': 1, 'salary': -1}},

    # Kelompokkan per departemen dan ambil 5 teratas
    {
        '$group': {
            '_id': '$department',
            'top_employees': {
                '$push': {
                    'name': '$name',
                    'salary': '$salary',
                    'age': '$age'
                }
            }
        }
    },
    # Hanya ambil 5 pertama di setiap grup
    {'$project': {'top_employees': {'$slice': ['$top_employees', 5]}}}
]

result = collection.aggregate(pipeline)
print("\n 5 Karyawan dengan gaji tertinggi per departemen:")
for doc in result:
    print(doc,"\n")

 5 Karyawan dengan gaji tertinggi per departemen:
{'_id': 'IT', 'top_employees': [{'name': 'Mike', 'salary': 6000, 'age': 32}, {'name': 'Uma', 'salary': 5900, 'age': 29}, {'name': 'Quinn', 'salary': 5700, 'age': 27}, {'name': 'Fiona', 'salary': 5600, 'age': 29}, {'name': 'Bob', 'salary': 5200, 'age': 25}]}

{'_id': 'HR', 'top_employees': [{'name': 'Nina', 'salary': 5400, 'age': 34}, {'name': 'Charlie', 'salary': 5000, 'age': 31}, {'name': 'Rita', 'salary': 5000, 'age': 38}]}

{'_id': 'Finance', 'top_employees': [{'name': 'Steve', 'salary': 7300, 'age': 45}, {'name': 'Oscar', 'salary': 7000, 'age': 37}, {'name': 'George', 'salary': 6800, 'age': 41}, {'name': 'Evan', 'salary': 6200, 'age': 35}, {'name': 'Kevin', 'salary': 6100, 'age': 30}]}

{'_id': 'Marketing', 'top_employees': [{'name': 'Ian', 'salary': 5100, 'age': 33}]}

In [36]:
# Tugas 5
print("=== Data sebelum penghapusan ===")
for emp in collection.find():
    print(f"{emp['name']} - Usia: {emp['age']}")

collection.delete_many({'age': {'$lt': 25}})
print(" Semua karyawan dengan usia di bawah 25 tahun telah dihapus.")

print("\n=== Data setelah penghapusan ===")
for emp in collection.find():
    print(f"{emp['name']} - Usia: {emp['age']}")

=== Data sebelum penghapusan ===
Bob - Usia: 23
Charlie - Usia: 31
Evan - Usia: 35
Fiona - Usia: 22
George - Usia: 41
Ian - Usia: 23
Kevin - Usia: 30
Mike - Usia: 32
Nina - Usia: 34
Oscar - Usia: 37
Quinn - Usia: 27
Rita - Usia: 24
Steve - Usia: 45
Uma - Usia: 29
 Semua karyawan dengan usia di bawah 25 tahun telah dihapus.

=== Data setelah penghapusan ===
Charlie - Usia: 31
Evan - Usia: 35
George - Usia: 41
Kevin - Usia: 30
Mike - Usia: 32
Nina - Usia: 34
Oscar - Usia: 37
Quinn - Usia: 27
Steve - Usia: 45
Uma - Usia: 29

In [37]:
# Tugas 6
pipeline = [
    {
        '$group': {
            '_id': '$department',
            'total_salary': {'$sum': '$salary'},
            'average_age': {'$avg': '$age'},
            'count': {'$sum': 1}
        }
    },
    {'$sort': {'_id': 1}}
]

result = collection.aggregate(pipeline)
print("\n Laporan Total Gaji & Rata-rata Umur per Departemen:")
for doc in result:
    print(doc)

 Laporan Total Gaji & Rata-rata Umur per Departemen:
{'_id': 'Finance', 'total_salary': 33400, 'average_age': 37.6, 'count': 5}
{'_id': 'HR', 'total_salary': 10400, 'average_age': 32.5, 'count': 2}
{'_id': 'IT', 'total_salary': 17600, 'average_age': 29.333333333333332, 'count': 3}